.box {
  width: 80%;
  padding-top:530px;
  margin: 0 auto;
  display: flex;

  & div {
    width: 200px;
    height: 70px;
    background-color: salmon;
    margin: 0px 20px;
    
  }
}

#item_1 {
  // transition: all .4s ease-out;
}

.footer {
  width: 100%;
  background-color: brown;
  height: 100px;
  position: absolute;
  top: 40vh;
  margin-bottom: 200vh;
}

.demo {
  div {
    margin: -10px 0;
  }

  padding-bottom: 50vh;
}